<div class="rpi-progress-bar">
  <div class="rpi-progress-bar__position"></div>
  <div class="rpi-progress-bar__percentage"></div>
</div>
<article class="article-page">
  <% const postTitle = page.title || '(untitled)'; %>
  <h2 class="content-title"><%- twemoji(postTitle) %></h2>
  <div class="reading-time">
    <i class="fa fa-clock-o"></i>
    <strong>Reading time: </strong><span>0 minutes</span>
  </div>
  <% if (page.img) {%>
  <figure class="post-image">
    <img src="/<%= page.path %><%= page.img %>" alt="<%= postTitle %>">
  </figure>
  <% } %>
  <section class="post-content"><%- twemoji(page.content) %></section>
  <div class="meta">
    <span><i class="fa fa-calendar"></i> <%- date(page.date) %></span>
    <% if (page.categories && page.categories.length) { %>
    <span>
      <i class="fa fa-folder-open-o"></i>
      <%- partial('_partial/categories', { post: page }) %>
    </span>
    <% } %>
    <% if (page.tags && page.tags.length) { %>
    <span>
      <i class="fa fa-tags"></i>
      <%- partial('_partial/tags', { post: page }) %>
    </span>
    <% } %>
  </div>
</article>
<section class="sharing">
  <h2 class="content-title">Thanks for reading!</h2>
  <p>Hope you enjoyed this article! If you liked it, you can share it on your social media for more people to enjoy. Sharing is caring!</p>
  <div class="share-buttons">
    <a
      class="facebook"
      href="https://www.facebook.com/sharer/sharer.php?u=<%- config.url %>/<%- page.path %>"
      target="_blank"
    >
      <i class="fa fa-facebook"></i>
      <span>Share</span>
    </a>
    <a
      class="twitter"
      href="https://twitter.com/intent/tweet?text=<%= `"${page.title}"` %> by @jozsefsallaidev — <%- config.url %>/<%- page.path %>"
      target="_blank"
    >
      <i class="fa fa-twitter"></i>
      <span>Tweet</span>
    </a>
    <a
      class="linkedin"
      href="https://www.linkedin.com/shareArticle?mini=true&url=<%- config.url %>/<%- page.path %>&title=<%- encodeURIComponent(page.title) %>&summary=<%= config.title %>&source=<%= config.url %>/"
      target="_blank"
    >
      <i class="fa fa-linkedin"></i>
      <span>Share</span>
    </a>
  </div>
</section>
