<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%
  function getTitle() {
    if (is_archive()) {
      let title = 'Archive';

      if (is_month()) {
        title = `${title} (${page.year}/${page.month})`;
      }

      if (is_year()) {
        title = `${title} (${page.year})`;
      }

      return `${title} - ${page.title}`;
    }

    if (is_category()) {
      return `${page.category} - ${(page.title || config.title)}`;
    }

    if (is_tag()) {
      return `${page.tag} - ${(page.title || config.title)}`;
    }

    return page.title ? `${page.title} - ${config.title}` : config.title;
  };

  const title = getTitle();

  const imageSrc = page.img
    ? `${config.url}/${page.path}${page.img}`
    : 'https://blog.sallai.me/images/social.png';
  %>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="<%= (page.description || config.description) %>">
  <link rel="image_src" href="<%= imageSrc %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= (page.description || config.description) %>">
  <meta property="og:site_name" content="<%= config.title %>">
  <meta property="og:url" content="<%= config.url %>">
  <meta property="og:image" content="<%= imageSrc %>">
  <% if (theme.favicon) { %>
    <link rel="icon" href="<%= config.url %><%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable) { %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <meta http-equiv="Cache-control" content="public">
  <%- css('dist/main') %>
  <script src="<%- config.root %>dist/build.js" defer="defer"></script>
</head>
