<article>
  <% const postTitle = post.title || '(untitled)'; %>
  <h2 class="title">
    <a href="<%- url_for(post.path) %>"><%= postTitle %></a>
  </h2>
  <% if (post.img) {%>
  <figure class="post-image">
    <a href="<%- url_for(post.path) %>">
      <img src="/<%= post.path %><%= post.img %>" alt="<%= postTitle %>" title="<%= postTitle %>" />
    </a>
  </figure>
  <% } %>
  <section class="post-content">
    <%
      function getDescription () {
        if (post.description) {
          return `<p>${post.description}</p>`;
        }

        if (post.excerpt) {
          return post.excerpt;
        }

        return post.content.split('\n')[0];
      }

      const postDescription = getDescription();
    %>
    <%- postDescription %>
  </section>
  <div class="read-more-link">
    <a href="<%- url_for(post.path) %>">Read More</a>
  </div>
  <div class="meta">
    <span><i class="fa fa-calendar"></i> <%- date(post.date) %></span>
    <% if (post.categories && post.categories.length) { %>
    <span>
      <i class="fa fa-folder-open-o"></i>
      <%- partial('_partial/categories', { post }) %>
    </span>
    <% } %>
    <% if (post.tags && post.tags.length) { %>
    <span>
      <i class="fa fa-tags"></i>
      <%- partial('_partial/tags', { post }) %>
    </span>
    <% } %>
  </div>
</article>
